<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.mapper.AttendanceMapper">

<!-- 오자윤 : /employee/attendanceOn 근태 : 출근 -->
<insert id="insertAttendanceOn" parameterType="com.example.pettopia.vo.Attendance">
	 	INSERT INTO attendance (
	 				emp_no
	 				,attendance_date
	 				,start_time
	 				,attendance_status
	 				) VALUES (
	 						#{empNo}, #{attendanceDate}, #{startTime}, #{attendanceStatus}
	 				)
</insert>

<!-- 오자윤 : /employee/attendanceOff 근태 : 퇴근-->
 <update id="insertAttendanceOff" parameterType="com.example.pettopia.vo.Attendance">
	    UPDATE attendance
	    SET 
	    	end_time = #{endTime}
	    	,attendance_status = #{attendanceStatus}
	    WHERE attendance_no = #{attendanceNo}
 </update>
 
</mapper>