<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.mapper.CustomerMapper">
	<select id="selectCustomerList" resultType="com.example.pettopia.vo.Customer">
		SELECT 
				customer_no customerNo,
				customer_name customerName,
				postal_code postalCode,
				basic_address basicAddress,
				detail_address detailAddress,
				customer_phone customerPhone,
				create_datetime createDatetime,
				update_datetime updateDatetime
		FROM customer
	</select>
</mapper>