<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.pettopia.vacationrecord.VacationRecordMapper">
	
	<!-- 오자윤 : /vacation/vacationList 휴가 카운트 REST-->
	<select id="countVacationByDate" resultType="int">
        SELECT COUNT(*) 
        FROM 
            document d
        JOIN 
            employee e ON d.doc_writer_no = e.emp_no
        WHERE 
            e.emp_no = #{empNo}
            AND (#{startDate} IS NULL OR d.start_date &gt;= #{startDate}) <!-- gt: greater than == '>' -->
            AND (#{endDate} IS NULL OR d.end_date &lt;= #{endDate}) <!-- lt: less than == '<' -->
            AND d.doc_type = 'V' 
            AND d.approval_status = 'A';
    </select>
    
	<!-- 오자윤 : /vacation/vacationList 휴가 날짜검색 REST-->
    <select id="getVacationListByDate" resultType="map">
        SELECT 
            d.doc_title AS docTitle,
            d.start_date AS startDate,
            d.end_date AS endDate,
            d.vacation_type AS vacationType,
            e.emp_name AS empName,
            SUM(CASE 
		        WHEN d.vacation_type = 'AL' THEN DATEDIFF(d.end_date, d.start_date) + 1
		        WHEN d.vacation_type IN ('HLA', 'HLP') THEN 0.5
		        ELSE 0 
		    END) AS usedVacationDays
        FROM 
            document d
        JOIN 
            employee e ON d.doc_writer_no = e.emp_no
        WHERE 
            e.emp_no = #{empNo}
            AND (#{startDate} IS NULL OR d.start_date &gt;= #{startDate})
            AND (#{endDate} IS NULL OR d.end_date &lt;= #{endDate})
            AND d.doc_type = 'V' 
            AND d.approval_status = 'A'
        GROUP BY 
    		d.doc_title, d.start_date, d.end_date, d.vacation_type, e.emp_name
        ORDER BY 
            d.start_date
        LIMIT #{limit} OFFSET #{offset};
	</select>
	
	<!-- 오자윤 : /vacation/vacationList 휴가 리스트 페이지네이션 카운트 -->
	<select id="countVacation" resultType="int">
	    SELECT COUNT(*)
	    FROM document d
	    JOIN employee e ON d.doc_writer_no = e.emp_no
	    WHERE d.doc_type = 'V' 
	      AND d.approval_status = 'A'
	      AND (#{empNo} IS NULL OR e.emp_no = #{empNo});
	</select>

	<!-- 오자윤 : /vacation/vacationList 직원 휴가 카운팅 -->
	<select id="getVacationCount" resultType="Map">
	    SELECT 
	        e.emp_no AS empNo,
	        e.emp_name AS empName,
	        COALESCE(vr.total_vacation, 0) AS total_vacation_days,
	        COALESCE(SUM(CASE 
	            WHEN d.vacation_type = 'AL' THEN DATEDIFF(d.end_date, d.start_date) + 1
	            WHEN d.vacation_type IN ('HLA', 'HLP') THEN 0.5
	            ELSE 0 
	        END), 0) AS used_vacation_days,
	        COALESCE(vr.total_vacation, 0) - COALESCE(SUM(CASE 
	            WHEN d.vacation_type = 'AL' THEN DATEDIFF(d.end_date, d.start_date) + 1
	            WHEN d.vacation_type IN ('HLA', 'HLP') THEN 0.5
	            ELSE 0 
	        END), 0) AS remaining_vacation_days
	    FROM 
	        employee e
	    JOIN 
	        vacation_record vr ON e.emp_no = vr.emp_no
	    LEFT JOIN 
	        document d ON e.emp_no = d.doc_writer_no AND d.doc_type = 'V' AND d.approval_status = 'A'
	    WHERE
	        e.emp_no = #{empNo}
	    GROUP BY 
	        e.emp_no, e.emp_name, vr.total_vacation;
	</select>

	    
	<!-- 오자윤 : /vacation/vacationList 직원 휴가 사용내역 -->
    <select id="getVacationUsage" resultType="Map">
		SELECT 
		    e.emp_no AS empNo,
		    e.emp_name AS empName,
		    d.doc_title AS docTitle,
		    d.start_date AS startDate,
		    d.end_date AS endDate,
		    d.vacation_type AS vacationType,
		    CASE 
		        WHEN d.vacation_type = 'AL' THEN DATEDIFF(d.end_date, d.start_date) + 1
		        WHEN d.vacation_type IN ('HLA', 'HLP') THEN 0.5
		        ELSE 0
		    END AS vacationDays
		FROM 
		    document d
		JOIN 
		    employee e ON d.doc_writer_no = e.emp_no
		WHERE 
		    d.doc_type = 'V' 
		    AND d.approval_status = 'A'
		    AND e.emp_no = #{empNo} 
		ORDER BY 
		    e.emp_no, d.start_date
		LIMIT #{limit} OFFSET #{offset};
    </select>
    
    <!-- 직원 등록 : 15일 추가 -->
    <insert id="insertNewVacationRecord" parameterType="String" >
    	INSERT INTO vacation_record(emp_no) 
		VALUES (#{empNo})
    </insert>
    
    
</mapper>