<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.meetingroom.MeetingRoomMapper">

	<!-- 회의실 등록 -->
	<insert id="insertMeetingRoom" parameterType="com.example.pettopia.vo.MeetingRoom">

		<selectKey resultType="Integer" keyProperty="roomNo" order="AFTER">
			SELECT LAST_INSERT_ID()									
		</selectKey>
		INSERT INTO meeting_room( room_name, room_info, room_capacity, room_location, create_datetime, update_datetime)
		VALUES( #{roomName}, #{roomInfo}, #{roomCapacity}, #{roomLocation}, now(), now() )
	
	</insert>
	
	<!-- 회의실 목록 -->
	<select id="selectMeetingRoomList" resultType="map">
		SELECT mr.room_no AS roomNo
				, mr.room_name AS roomName
				, mr.room_info AS roomInfo
				, mr.room_capacity AS roomCapacity
				, mr.room_location AS roomLocation
				, mri.room_img_no AS roomImgNo
				, mri.origin_file_name AS originFileName
				, CONCAT(mri.file_name, mri.file_ext) AS fileName
		FROM meeting_room mr 
		JOIN meeting_room_img mri ON mr.room_no = mri.room_no	
	</select>

	<!-- 회의실 상세보기 -->
	<select id="selectMeetingRoomOne" parameterType="String" resultType="map">
		SELECT mr.room_no AS roomNo
				, mr.room_name AS roomName
				, mr.room_info AS roomInfo
				, mr.room_capacity AS roomCapacity
				, mr.room_location AS roomLocation
				, mri.room_img_no AS roomImgNo
				, mri.origin_file_name AS originFileName
				, CONCAT(mri.file_name, mri.file_ext) AS fileName
				, mri.room_img_no AS roomImgNo
		FROM meeting_room mr 
		JOIN meeting_room_img mri ON mr.room_no = mri.room_no
		WHERE mr.room_no = #{rommNo}	
	</select>


	<!-- 회의실 수정 -->
	<update id="updateMeetingRoomInfo" parameterType="com.example.pettopia.vo.MeetingRoom">
	    UPDATE meeting_room
	    <set>
	    	<if test="roomName != null || roomName != '' ">
	        	room_name = #{roomName},
	        </if>	
	        <if test="roomCapacity != null || roomCapacity != '' ">
	       		room_capacity = #{roomCapacity},
	        </if>
	        <if test="roomInfo != null || roomInfo != '' ">
	        	room_info = #{roomInfo},
	        </if>
	        <if test="roomLocation != null || roomLocation != '' ">
	        	room_location = #{roomLocation},
	        </if>

	        update_datetime = NOW()
	    </set>    
	    WHERE room_no = #{roomNo}
	</update>


    
    <!-- 회의실 정보 삭제 -->
    <delete id="deleteMeetingRoomInfo" parameterType="Integer">
        DELETE FROM meeting_room WHERE room_no = #{roomNo}
    </delete>
	
	
	
	
	

</mapper>