<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.document.DocumentMapper">

	<!-- insertDocument : 문서 작성 -->
	<insert id="insertDocument" parameterType="com.example.pettopia.vo.Document">
		<selectKey resultType="Integer" keyProperty="docNo" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO document(doc_title, doc_writer_no, doc_content, doc_type, approval_status, doc_purpose, doc_price, doc_remarks, vacation_type, vacation_backup, material_name, material_quantity, resignation_type, start_date, end_date) 
		VALUES(#{docTitle}, #{docWriterNo}, #{docContent}, #{docType}, #{approvalStatus}, #{docPurpose}, #{docPrice}, #{docRemarks}, #{vacationType}, #{vacationBackup}, #{materialName}, #{materialQuantity}, #{resignationType}, #{startDate}, #{endDate})
	</insert>
	
	<!-- selectEmployeeDept : 직원 부서 조회 -->
	<select id="selectEmployeeDept" parameterType="String" resultType="Map">
		SELECT d.dept_code deptCode, d.dept_name deptName, dv.division_code divisionCode, dv.division_name divisionName FROM employee e  
		INNER JOIN department d ON e.dept_code = d.dept_code
		INNER JOIN division dv ON d.division_code = dv.division_code
		WHERE e.emp_no = #{empNo}
	</select>
	
	<!-- insertDocumentApprovers : 문서 결재자 추가 -->
	<insert id="insertDocumentApprovers" parameterType="com.example.pettopia.vo.DocumentApprovers">
		INSERT INTO document_approvers(doc_no, init_approver_no, init_approval_status, init_approval_datetime, init_reject_reason
									 , mid_approver_no, mid_approval_status, mid_approval_datetime, mid_reject_reason
									 , final_approver_no, final_approval_status, final_approval_datetime, final_reject_reason)
		VALUES(#{docNo}, #{initApproverNo}, #{initApproverStatus}, #{initApproverDatetime}, #{initRejectReson}
			 , #{midApproverNo}, #{midApproverStatus}, #{midApproverDatetime}, #{midRejectReson}
			 , #{finalApproverNo}, #{finalApproverStatus}, #{finalApproverDatetime}, #{finalRejectReson});
	</insert>
	
	<!-- selectDivisionList : 상위부서 조회(문서) -->
	<select id="selectDivisionListByDocument" resultType="com.example.pettopia.vo.Division">
		SELECT division_code divisionCode, division_name divisionName FROM division ORDER BY divisionName;
	</select>
	
	<!-- selectDivisionListByDocument : 팀 조회(문서) -->
	<select id="selectDeptListByDocument" parameterType="String" resultType="com.example.pettopia.vo.Department">
		SELECT dept_code deptCode, division_code divisionCode, dept_name deptName
		FROM department 
		WHERE division_code = #{divisionCode}
		ORDER BY deptName
	</select>
	
	<!-- selectEmployeeListByDocument : 직원 조회(문서) -->
	<select id="selectEmpListByDocument" parameterType="String" resultType="Map">
		SELECT e.emp_no empNo, e.emp_name empName, e.dept_code deptCode, de.dept_name deptName, di.division_name divisionName, r.rank_name rankName
		FROM employee e 
		INNER JOIN `rank` r ON e.rank_no = r.rank_no
		INNER JOIN department de ON e.dept_code = de.dept_code
		INNER JOIN division di ON de.division_code = di.division_code
		WHERE e.dept_code = #{deptCode}
		ORDER BY e.rank_no ASC, e.emp_name ASC
	</select>
	
	<!-- selectEmpSearchByDocument : 직원 검색(문서) -->
	<select id="selectEmpSearchByDocument" parameterType="String" resultType="Map">
		SELECT e.emp_no empNo, e.emp_name empName, e.dept_code deptCode, de.dept_name deptName, di.division_name divisionName, r.rank_name rankName
		FROM employee e 
		INNER JOIN `rank` r ON e.rank_no = r.rank_no
		INNER JOIN department de ON e.dept_code = de.dept_code
		INNER JOIN division di ON de.division_code = di.division_code
		WHERE e.emp_name LIKE CONCAT('%', #{empName}, '%')
		ORDER BY e.rank_no DESC
	</select>
	
	<!-- selectDocumentList : 문서 조회 -->
	<select id="selectDocumentList" parameterType="Map" resultType="Map">
    	SELECT d.doc_no docNo, d.doc_title docTitle, d.doc_writer_no docWriterNo, e1.emp_name docWriterName, dp1.dept_name writerDeptName,
    		   d.doc_type docType, d.approval_status approvalStatus, d.doc_bin docBin, d.create_datetime updateDatetime,
			   da.init_approver_no initApproverNo, e2.emp_name initApproversName, dp2.dept_name initApproversDeptName, da.init_approval_status initApprovalStatus,
				da.mid_approver_no midApproverNo, e3.emp_name midApproversName, dp3.dept_name midApproversDeptName, da.mid_approval_status midApprovalStatus,
				da.final_approver_no finalApproverNo, e4.emp_name finalApproversName, dp4.dept_name finalApproversDeptName, da.final_approval_status finalApprovalStatus, 
				r1.rank_name docWriterRank, r2.rank_name initApproverRank, r3.rank_name midApproverRank, r4.rank_name finalApproverRank  
		FROM document d
		INNER JOIN document_approvers da ON d.doc_no = da.doc_no
		INNER JOIN employee e1 ON e1.emp_no = d.doc_writer_no
		INNER JOIN employee e2 ON e2.emp_no = da.init_approver_no
		INNER JOIN employee e3 ON e3.emp_no = da.mid_approver_no
		INNER JOIN employee e4 ON e4.emp_no = da.final_approver_no
		INNER JOIN department dp1 ON e1.dept_code = dp1.dept_code
		INNER JOIN department dp2 ON e2.dept_code = dp2.dept_code
		INNER JOIN department dp3 ON e3.dept_code = dp3.dept_code
		INNER JOIN department dp4 ON e4.dept_code = dp4.dept_code
		INNER JOIN `rank` r1 ON e1.rank_no = r1.rank_no
		INNER JOIN `rank` r2 ON e2.rank_no = r2.rank_no
		INNER JOIN `rank` r3 ON e3.rank_no = r3.rank_no
		INNER JOIN `rank` r4 ON e4.rank_no = r4.rank_no
		<where>
	        d.doc_bin = '0'
	        <if test="empNo != null">
			    AND (d.doc_writer_no = #{empNo} 
			         OR da.init_approver_no = #{empNo} 
			         OR da.mid_approver_no = #{empNo} 
			         OR da.final_approver_no = #{empNo})
			</if>
	        <if test="docWriterNo != null">
	            AND d.doc_writer_no = #{docWriterNo}
	        </if>
	        <if test="initApproverNo != null or midApproverNo != null or finalApproverNo != null">
			    AND (
			        <if test="initApproverNo != null">
			            da.init_approver_no = #{initApproverNo}
			        </if>
			        <if test="midApproverNo != null">
			            <if test="initApproverNo != null"> OR </if>
			            da.mid_approver_no = #{midApproverNo}
			        </if>
			        <if test="finalApproverNo != null">
			            <if test="initApproverNo != null or midApproverNo != null"> OR </if>
			            da.final_approver_no = #{finalApproverNo}
			        </if>
			    )
			</if>
	        <if test="approvalStatus != null">
	            AND d.approval_status = #{approvalStatus}
	        </if>
	        <if test="searchWord != null and searchWord != ''">
			    AND (
			        d.doc_no LIKE CONCAT('%', #{searchWord}, '%') OR
			        d.doc_title LIKE CONCAT('%', #{searchWord}, '%') OR
			        e1.emp_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        dp1.dept_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        e2.emp_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        dp2.dept_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        r1.rank_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        r2.rank_name LIKE CONCAT('%', #{searchWord}, '%')
			        <if test="searchWord == '대기'">
			            OR d.approval_status = 'P'
			        </if>
			        <if test="searchWord == '승인'">
			            OR d.approval_status = 'A'
			        </if>
			        <if test="searchWord == '반려'">
			            OR d.approval_status = 'R'
			        </if>
			        <if test="searchWord == '임시'">
			            OR d.approval_status = 'T'
			        </if>
			    )
			</if>
    	</where>
    	ORDER BY d.create_datetime DESC
    	LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- selectCountDocuments : 문서 개수 조회 -->
	<select id="selectCountDocumentList" parameterType="Map" resultType="Integer">
	    SELECT COUNT(*) 
	    FROM document d
		INNER JOIN document_approvers da ON d.doc_no = da.doc_no
		INNER JOIN employee e1 ON e1.emp_no = d.doc_writer_no
		INNER JOIN employee e2 ON e2.emp_no = da.init_approver_no
		INNER JOIN employee e3 ON e3.emp_no = da.mid_approver_no
		INNER JOIN employee e4 ON e4.emp_no = da.final_approver_no
		INNER JOIN department dp1 ON e1.dept_code = dp1.dept_code
		INNER JOIN department dp2 ON e2.dept_code = dp2.dept_code
		INNER JOIN department dp3 ON e3.dept_code = dp3.dept_code
		INNER JOIN department dp4 ON e4.dept_code = dp4.dept_code
		INNER JOIN `rank` r1 ON e1.rank_no = r1.rank_no
		INNER JOIN `rank` r2 ON e2.rank_no = r2.rank_no
		INNER JOIN `rank` r3 ON e3.rank_no = r3.rank_no
		INNER JOIN `rank` r4 ON e4.rank_no = r4.rank_no
	    <where>
	        d.doc_bin = '0'
	        <if test="empNo != null">
			    AND (d.doc_writer_no = #{empNo} 
			         OR da.init_approver_no = #{empNo} 
			         OR da.mid_approver_no = #{empNo} 
			         OR da.final_approver_no = #{empNo})
			</if>
	        <if test="docWriterNo != null">
	            AND d.doc_writer_no = #{docWriterNo}
	        </if>
	        <if test="initApproverNo != null or midApproverNo != null or finalApproverNo != null">
			    AND (
			        <if test="initApproverNo != null">
			            da.init_approver_no = #{initApproverNo}
			        </if>
			        <if test="midApproverNo != null">
			            <if test="initApproverNo != null"> OR </if>
			            da.mid_approver_no = #{midApproverNo}
			        </if>
			        <if test="finalApproverNo != null">
			            <if test="initApproverNo != null or midApproverNo != null"> OR </if>
			            da.final_approver_no = #{finalApproverNo}
			        </if>
			    )
			</if>
	        <if test="approvalStatus != null and approvalStatus != ''">
	            AND d.approval_status = #{approvalStatus}
	        </if>
	        <if test="searchWord != null and searchWord != ''">
			    AND (
			        d.doc_no LIKE CONCAT('%', #{searchWord}, '%') OR
			        d.doc_title LIKE CONCAT('%', #{searchWord}, '%') OR
			        e1.emp_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        dp1.dept_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        e2.emp_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        dp2.dept_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        r1.rank_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        r2.rank_name LIKE CONCAT('%', #{searchWord}, '%')
			        <if test="searchWord == '대기'">
			            OR d.approval_status = 'P'
			        </if>
			        <if test="searchWord == '승인'">
			            OR d.approval_status = 'A'
			        </if>
			        <if test="searchWord == '반려'">
			            OR d.approval_status = 'R'
			        </if>
			        <if test="searchWord == '임시'">
			            OR d.approval_status = 'T'
			        </if>
			    )
			</if>
	    </where>
	</select>
	
	<!-- selectDocumentBin : 결재 문서 휴지통 조회 -->
	<select id="selectDocumentBin" parameterType="Map" resultType="Map">
    	SELECT d.doc_no docNo, d.doc_title docTitle, d.doc_writer_no docWriterNo, e1.emp_name docWriterName, dp1.dept_name writerDeptName,
    		   d.doc_type docType, d.approval_status approvalStatus, d.doc_bin docBin, d.create_datetime updateDatetime,
			   da.init_approver_no initApproverNo, e2.emp_name initApproversName, dp2.dept_name initApproversDeptName, da.init_approval_status initApprovalStatus,
				da.mid_approver_no midApproverNo, e3.emp_name midApproversName, dp3.dept_name midApproversDeptName, da.mid_approval_status midApprovalStatus,
				da.final_approver_no finalApproverNo, e4.emp_name finalApproversName, dp4.dept_name finalApproversDeptName, da.final_approval_status finalApprovalStatus, 
				r1.rank_name docWriterRank, r2.rank_name initApproverRank, r3.rank_name midApproverRank, r4.rank_name finalApproverRank  
		FROM document d
		INNER JOIN document_approvers da ON d.doc_no = da.doc_no
		INNER JOIN employee e1 ON e1.emp_no = d.doc_writer_no
		INNER JOIN employee e2 ON e2.emp_no = da.init_approver_no
		INNER JOIN employee e3 ON e3.emp_no = da.mid_approver_no
		INNER JOIN employee e4 ON e4.emp_no = da.final_approver_no
		INNER JOIN department dp1 ON e1.dept_code = dp1.dept_code
		INNER JOIN department dp2 ON e2.dept_code = dp2.dept_code
		INNER JOIN department dp3 ON e3.dept_code = dp3.dept_code
		INNER JOIN department dp4 ON e4.dept_code = dp4.dept_code
		INNER JOIN `rank` r1 ON e1.rank_no = r1.rank_no
		INNER JOIN `rank` r2 ON e2.rank_no = r2.rank_no
		INNER JOIN `rank` r3 ON e3.rank_no = r3.rank_no
		INNER JOIN `rank` r4 ON e4.rank_no = r4.rank_no
		<where>
	        d.doc_bin = '1'
	        <if test="empNo != null">
			    AND (d.doc_writer_no = #{empNo} 
			         OR da.init_approver_no = #{empNo} 
			         OR da.mid_approver_no = #{empNo} 
			         OR da.final_approver_no = #{empNo})
			</if>
	        <if test="docWriterNo != null">
	            AND d.doc_writer_no = #{docWriterNo}
	        </if>
	        <if test="initApproverNo != null or midApproverNo != null or finalApproverNo != null">
			    AND (
			        <if test="initApproverNo != null">
			            da.init_approver_no = #{initApproverNo}
			        </if>
			        <if test="midApproverNo != null">
			            <if test="initApproverNo != null"> OR </if>
			            da.mid_approver_no = #{midApproverNo}
			        </if>
			        <if test="finalApproverNo != null">
			            <if test="initApproverNo != null or midApproverNo != null"> OR </if>
			            da.final_approver_no = #{finalApproverNo}
			        </if>
			    )
			</if>
	        <if test="approvalStatus != null">
	            AND d.approval_status = #{approvalStatus}
	        </if>
	        <if test="searchWord != null and searchWord != ''">
			    AND (
			        d.doc_no LIKE CONCAT('%', #{searchWord}, '%') OR
			        d.doc_title LIKE CONCAT('%', #{searchWord}, '%') OR
			        e1.emp_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        dp1.dept_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        e2.emp_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        dp2.dept_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        r1.rank_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        r2.rank_name LIKE CONCAT('%', #{searchWord}, '%')
			        <if test="searchWord == '대기'">
			            OR d.approval_status = 'P'
			        </if>
			        <if test="searchWord == '승인'">
			            OR d.approval_status = 'A'
			        </if>
			        <if test="searchWord == '반려'">
			            OR d.approval_status = 'R'
			        </if>
			        <if test="searchWord == '임시'">
			            OR d.approval_status = 'T'
			        </if>
			    )
			</if>
    	</where>
    	ORDER BY d.create_datetime DESC
    	LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- selectCountDocuments : 문서 개수 조회 -->
	<select id="selectCountDocumentBin" parameterType="Map" resultType="Integer">
	    SELECT COUNT(*) 
	    FROM document d
		INNER JOIN document_approvers da ON d.doc_no = da.doc_no
		INNER JOIN employee e1 ON e1.emp_no = d.doc_writer_no
		INNER JOIN employee e2 ON e2.emp_no = da.init_approver_no
		INNER JOIN employee e3 ON e3.emp_no = da.mid_approver_no
		INNER JOIN employee e4 ON e4.emp_no = da.final_approver_no
		INNER JOIN department dp1 ON e1.dept_code = dp1.dept_code
		INNER JOIN department dp2 ON e2.dept_code = dp2.dept_code
		INNER JOIN department dp3 ON e3.dept_code = dp3.dept_code
		INNER JOIN department dp4 ON e4.dept_code = dp4.dept_code
		INNER JOIN `rank` r1 ON e1.rank_no = r1.rank_no
		INNER JOIN `rank` r2 ON e2.rank_no = r2.rank_no
		INNER JOIN `rank` r3 ON e3.rank_no = r3.rank_no
		INNER JOIN `rank` r4 ON e4.rank_no = r4.rank_no
	    <where>
	        d.doc_bin = '1'
	        <if test="empNo != null">
			    AND (d.doc_writer_no = #{empNo} 
			         OR da.init_approver_no = #{empNo} 
			         OR da.mid_approver_no = #{empNo} 
			         OR da.final_approver_no = #{empNo})
			</if>
	        <if test="docWriterNo != null">
	            AND d.doc_writer_no = #{docWriterNo}
	        </if>
	        <if test="initApproverNo != null or midApproverNo != null or finalApproverNo != null">
			    AND (
			        <if test="initApproverNo != null">
			            da.init_approver_no = #{initApproverNo}
			        </if>
			        <if test="midApproverNo != null">
			            <if test="initApproverNo != null"> OR </if>
			            da.mid_approver_no = #{midApproverNo}
			        </if>
			        <if test="finalApproverNo != null">
			            <if test="initApproverNo != null or midApproverNo != null"> OR </if>
			            da.final_approver_no = #{finalApproverNo}
			        </if>
			    )
			</if>
	        <if test="approvalStatus != null and approvalStatus != ''">
	            AND d.approval_status = #{approvalStatus}
	        </if>
	        <if test="searchWord != null and searchWord != ''">
			    AND (
			        d.doc_no LIKE CONCAT('%', #{searchWord}, '%') OR
			        d.doc_title LIKE CONCAT('%', #{searchWord}, '%') OR
			        e1.emp_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        dp1.dept_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        e2.emp_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        dp2.dept_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        r1.rank_name LIKE CONCAT('%', #{searchWord}, '%') OR
			        r2.rank_name LIKE CONCAT('%', #{searchWord}, '%')
			        <if test="searchWord == '대기'">
			            OR d.approval_status = 'P'
			        </if>
			        <if test="searchWord == '승인'">
			            OR d.approval_status = 'A'
			        </if>
			        <if test="searchWord == '반려'">
			            OR d.approval_status = 'R'
			        </if>
			        <if test="searchWord == '임시'">
			            OR d.approval_status = 'T'
			        </if>
			    )
			</if>
	    </where>
	</select>
	
	<!-- updateDocumentBin : 문서 개수 조회 -->
	<update id="updateDocumentBin" parameterType="Integer">
	    UPDATE document SET doc_bin = CASE WHEN doc_bin = '0' THEN '1' WHEN doc_bin = '1' THEN '0' END WHERE doc_no = #{docNo};
	</update>
	
	<!-- deleteDocument : 문서 영구 삭제 -->
	<delete id="deleteDocument" parameterType="Integer">
		DELETE FROM document WHERE doc_no = #{docNo}
	</delete>
	
	<!-- selectDocumentOne : 문서 상세보기 -->
	<select id="selectDocumentOne" parameterType="Integer" resultType="Map">
	SELECT d.doc_no docNo, d.doc_type docType, d.doc_writer_no docWriterNo, e1.emp_name docWriterName, de.dept_name docWriterDept, 
		   d.create_datetime createDatetime, d.approval_status approvalStatus, d.doc_title docTitle, d.doc_content docContent, d.doc_remarks docRemarks,
		   e2.emp_name initApproverName, e3.emp_name midApproverName, e4.emp_name finalApproverName, da.doc_approvers_no docApproversNo,
		   da.init_approver_no initApproverNo, da.init_approval_status initApprovalStatus, da.init_approval_datetime initApprovalDatetime, da.init_reject_reason initRejectReason,
		   da.mid_approver_no midApproverNo, da.mid_approval_status midApprovalStatus, da.mid_approval_datetime midApprovalDatetime, da.mid_reject_reason midRejectReason,
		   da.final_approver_no finalApproverNo, da.final_approval_status finalApprovalStatus, da.final_approval_datetime finalApprovalDatetime, da.final_reject_reason finalRejectReason
	FROM document d
	INNER JOIN employee e1 ON e1.emp_no = d.doc_writer_no
	INNER JOIN department de ON e1.dept_code = de.dept_code
	INNER JOIN document_approvers da ON d.doc_no = da.doc_no
	INNER JOIN employee e2 ON e2.emp_no = da.init_approver_no
	INNER JOIN employee e3 ON e3.emp_no = da.mid_approver_no
	INNER JOIN employee e4 ON e4.emp_no = da.final_approver_no
	WHERE d.doc_no = #{docNo}
	</select>
	
	<!-- updateApproveDocument : 문서 승인 -->
	<update id="updateApproveDocument" parameterType="Integer">
		UPDATE document_approvers da INNER JOIN document d ON d.doc_no = da.doc_no
		<set>
			<if test="initApproverNo != null">
				da.init_approval_status = 'A',
            	da.init_approval_datetime = NOW()
			</if>
			<if test="midApproverNo != null">
				da.mid_approval_status = 'A',
            	da.mid_approval_datetime = NOW()
			</if>
			<if test="finalApproverNo != null">
				da.final_approval_status = 'A',
            	da.final_approval_datetime = NOW(),
            	d.approval_status = 'A'
			</if>
		</set>
		WHERE doc_approvers_no = #{docApproversNo}
	</update>
	
	<!-- updateRejectDocument : 문서 반려 -->
	<update id="updateRejectDocument" parameterType="com.example.pettopia.vo.DocumentApprovers">
	    UPDATE document_approvers da 
	    INNER JOIN document d ON d.doc_no = da.doc_no
	    <set>
	        <if test="initApproverNo != null and initRejectReason != null and initRejectReason.trim() != ''">
	            da.init_approval_status = 'R',
	            da.init_approval_datetime = NOW(),
	            da.init_reject_reason = #{initRejectReason},
	            d.approval_status = 'R'
	        </if>
	        <if test="midApproverNo != null and midRejectReason != null and midRejectReason.trim() != ''">
	            da.mid_approval_status = 'R',
	            da.mid_approval_datetime = NOW(),
	            da.mid_reject_reason = #{midRejectReason},
	            d.approval_status = 'R'
	        </if>
	        <if test="finalApproverNo != null and finalRejectReason != null and finalRejectReason.trim() != ''">
	            da.final_approval_status = 'R',
	            da.final_approval_datetime = NOW(),
	            da.final_reject_reason = #{finalRejectReason},
	            d.approval_status = 'R'
	        </if>
	    </set>
	    WHERE da.doc_approvers_no = #{docApproversNo}
	</update>
	
	
	
	
</mapper>