<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.document.DocumentMapper">

	<!-- insertDocument : 문서 작성 -->
	<insert id="insertDocument" parameterType="com.example.pettopia.vo.Document">
		<selectKey resultType="Integer" keyProperty="docNo" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO document(doc_title, doc_writer_no, doc_content, doc_type, approver_emp_no, vacation_type, vacation_start_date, vacation_end_date, material_list, material_quantity) 
		VALUES(#{docTitle}, #{docWriterNo}, #{docContent}, #{docType}, #{approverEmpNo}, #{vacationType}, #{vacationStartDate}, #{vacationEndDate}, #{materialList}, #{materialQuantity})
	</insert>
	
	<!-- selectEmployeeDept : 직원 부서 조회 -->
	<select id="selectEmployeeDept" parameterType="String" resultType="Map">
		SELECT d.dept_code deptCode, d.dept_name deptName, dv.division_code divisionCode, dv.division_name divisionName FROM employee e  
		INNER JOIN department d ON e.dept_code = d.dept_code
		INNER JOIN division dv ON d.division_code = dv.division_code
		WHERE e.emp_no = #{empNo}
	</select>
</mapper>