<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.message.MessageMapper">

	<!-- 오자윤 : /employee/messageNote 쪽지쓰기 모달창 팀검색 -->
	<select id="selectDeparmentNameInModal" parameterType="String">
	    SELECT 
	    	dept_code deptCode,
		    division_code divisionCode,
		    dept_name deptName
		FROM 
			department
		WHERE 
			division_code = #{divisionCode}
		ORDER BY deptName
	</select>
	
	<!-- 오자윤 : /employee/messageNote 쪽지쓰기 모달창 부서검색 -->
	<select id="selectDivisionNameInModal" parameterType="String">
	    SELECT 
		    division_code divisionCode,
		    division_name divisionName
		FROM division;
	</select>
	
	<!-- 오자윤 : /employee/messageBin 휴지통-> 쪽지보관함으로 복구하기 -->
	<update id="restoreMessage" parameterType="Integer">
	    UPDATE message
	    SET messageBin = '0'
	    WHERE message_no = #{messageNo}
	</update>
	
	<!-- 오자윤 : /employee/messageBin 휴지통 리스트 영구삭제 -->
	<delete id="deleteMessage" parameterType="java.util.List">
	    DELETE FROM message
	    WHERE message_no IN
	    <foreach item="item" collection="list" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>


	<!-- 오자윤 : /employee/messageNote (모달)직원 선택 조회 -->
	<select id="getEmployeeList" parameterType="String" resultType="map">
		SELECT  
		    d.division_name divisionName, 
		    dep.dept_name deptName, 
		    r.rank_name rankName, 
		    e.emp_no empNo, 
		    e.emp_name empName
		FROM  
		    employee e 
		JOIN  
		    `rank` r ON e.rank_no = r.rank_no 
		JOIN  
		    department dep ON e.dept_code = dep.dept_code 
		JOIN  
		    division d ON dep.division_code = d.division_code 
		WHERE  
		    e.emp_status = #{empStatus}  <!-- 재직 상태 필터 -->
		    AND (#{deptCode} IS NULL OR dep.dept_code = #{deptCode})  
    		AND (#{empName} IS NULL OR e.emp_name LIKE CONCAT('%', #{empName}, '%'));
	</select>
	
	<!-- 오자윤 : /employee/messageList 쪽지리스트 조회 -->
	<select id="getMessageById" parameterType="String" resultType="map">
	    SELECT 
	        m.message_no messageNo,
	        m.sender_emp_no senderEmpNo,
	        e.emp_name senderName,
	        m.recipient_emp_no recipientEmpNo,
	        m.message_title messageTitle,
	        m.message_content messageContent,
	        m.message_state messageState,
	        m.message_bin messageBin,
	        DATE_FORMAT(m.create_datetime, '%Y-%m-%d %H:%i') createDatetime,
	        DATE_FORMAT(m.update_datetime, '%Y-%m-%d %H:%i') updateDatetime
	    FROM 
	        message m
	    JOIN 
	        employee e ON m.sender_emp_no = e.emp_no
	    WHERE 
	        m.message_no = #{messageNo}; <!-- 메시지 번호로 필터링 -->
	</select>

	<!-- 오자윤 : /employee/messageList 쪽지리스트 조회 -->
	<select id="getMessageList" resultType="map"> 
		    SELECT 
			    m.message_no messageNo,
			    m.sender_emp_no senderEmpNo,
			    e.emp_name senderName,
			    m.recipient_emp_no recipientEmpNo,
			    m.message_title messageTitle,
			    m.message_content messageContent,
			    m.message_state messageState,
			    m.message_bin messageBin,
			    DATE_FORMAT(m.create_datetime, '%Y-%m-%d %H:%i') createDatetime,
			    DATE_FORMAT(m.update_datetime, '%Y-%m-%d %H:%i') updateDatetime
			FROM 
			    message m
			JOIN 
			    employee e ON m.sender_emp_no = e.emp_no
			WHERE 
			    m.recipient_emp_no = #{empNo}  
			ORDER BY 
			    m.message_no ASC;
	</select>
	
	<!-- 오자윤 : /employee/messageList 쪽지 휴지통 이동 -->
	<update id="updateMessage">
	    UPDATE message
	    SET message_bin = '1' 
	    WHERE message_no = #{messageNo}
	</update>
	
	<!-- 오자윤 : /employee/messageList 메시지 읽음 상태 변환 -->
	<update id="updateMessageState">
	    UPDATE message
	    SET message_state = 'Y'
	    WHERE message_no = #{messageNo}; 
	</update>

</mapper>