<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.message.MessageMapper">

<!-- 오자윤 : /employee/messageList 쪽지리스트 가져오기 -->
<select id="getMessageList" resultType="com.example.pettopia.vo.Message"> 
    SELECT message_no messageNo, 
    		sender_emp_no senderEmpNo,
    		recipient_emp_no recipientEmpNo,
    		message_content messageContent,
    		message_state messageState,
    		message_bin messageBin,
    		create_datetime createDatetime,
    		update_datetime updateDatetime
    FROM message
    WHERE sender_emp_no = #{empNo} OR recipient_emp_no = #{empNo}
</select>


</mapper>