<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.meetingroomrsv.MeetingRoomRsvMapper">

	<!-- 예약 내역 조회 -->
	<select id="selectMeetingRoomRsvCntByRoomNo" parameterType="Integer">
		SELECT COUNT(*) AS rsvCnt
		FROM meeting_room_rsv
		WHERE room_no = #{roomNo}		
	</select>
	
	<!-- 예약된 회의실 삭제 -->
	<delete id="deleteRsvByRoomNo" parameterType="Integer">
		DELETE FROM meeting_room_rsv WHERE room_no = #{roomNo}
	</delete>
	
	<!-- 회의실 예약 가능 시간대 조회 -->
	<select id="selectRsvTime" parameterType="com.example.pettopia.vo.MeetingRoomRsv" resultType="String">
		SELECT time_period AS timePeriod
		FROM meeting_room_rsv
		WHERE room_no = #{roomNo}
		AND rsv_date = #{rsvDate}
	</select>
	
	<!-- 회의실 예약 등록 -->
	<insert id="insertMeetingRoomRsv" parameterType="com.example.pettopia.vo.MeetingRoomRsv">
		INSERT INTO meeting_room_rsv (room_no, emp_no, rsv_date, conference_title, conference_desc, conference_users, time_period)
		VALUES (#{roomNo}, #{empNo}, #{rsvDate}, #{conferenceTitle}, #{conferenceDesc}, #{conferenceUsers}, #{timePeriod} ) 		
	</insert>
	
	<!-- 회의실 예약 조회 -->
	<select id="selectMeetingRoomRsvList" parameterType="map" resultType="map">
		SELECT mrr.room_no AS roomNo
				, mr.room_name AS roomName
				, mrr.emp_no AS empNo
				, e.emp_name AS empName
				, d.dept_name AS deptName
				, di.division_name AS divisionName
				, mrr.rsv_date AS rsvDate
				, mrr.conference_title AS conferenceTitle
				, mrr.conference_desc AS conferenceDesc
				, mrr.conference_users AS conferenceUsers
				, mrr.time_period AS timePeriod
		FROM meeting_room_rsv mrr 
		JOIN meeting_room mr ON mrr.room_no = mr.room_no
		JOIN employee e ON e.emp_no = mrr.emp_no
		JOIN department d ON d.dept_code = e.dept_code
		JOIN division di ON d.division_code = di.division_code
		ORDER BY rsvDate DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 총 회의시 예약 수 -->
	<select id="selectCountMeetingRoomRsvList" resultType="Integer">
		SELECT COUNT(*)
		FROM meeting_room_rsv
	</select>
	
	
	
	
	
	
	
</mapper>