<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.meetingroomrsv.MeetingRoomRsvMapper">

	<!-- 예약 내역 조회 -->
	<select id="selectMeetingRoomRsvCntByRoomNo" parameterType="Integer">
		SELECT COUNT(*) AS rsvCnt
		FROM meeting_room_rsv
		WHERE room_no = #{roomNo}		
	</select>
	
	<!-- 예약된 회의실 삭제 -->
	<delete id="deleteRsvByRoomNo" parameterType="Integer">
		DELETE FROM meeting_room_rsv WHERE room_no = #{roomNo}
	</delete>
	
	<!-- 회의실 예약 가능 시간대 조회 -->
	<select id="selectRsvTime" parameterType="com.example.pettopia.vo.MeetingRoomRsv" resultType="String">
		SELECT time_period AS timePeriod
		FROM meeting_room_rsv
		WHERE room_no = #{roomNo}
		AND rsv_date = #{rsvDate}
	</select>
	
	<!-- 회의실 예약 등록 -->
	<insert id="insertMeetingRoomRsv" parameterType="com.example.pettopia.vo.MeetingRoomRsv">
		INSERT INTO meeting_room_rsv (room_no, emp_no, rsv_date, conference_title, conference_desc, conference_users, time_period)
		VALUES (#{roomNo}, #{empNo}, #{rsvDate}, #{conferenceTitle}, #{conferenceDesc}, #{conferenceUsers}, #{timePeriod} ) 		
	</insert>
	
	<!-- 회의실 예약 조회 -->
	<select id="selectMeetingRoomRsvList" parameterType="map" resultType="com.example.pettopia.vo.MeetingRoomRsv">
		SELECT room_no AS roomNo
				, emp_no AS empNo
				, rsv_date AS rsvDate
				, conference_title AS conferenceTitle
				, conference_desc AS conferenceDesc
				, conference_users AS conferenceUsers
				, time_period AS timePeriod
		FROM meeting_room_rsv
		ORDER BY rsvDate DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 총 회의시 예약 수 -->
	<select id="selectCountMeetingRoomRsvList" resultType="Integer">
		SELECT COUNT(*)
		FROM meeting_room_rsv
	</select>
	
	
	
	
	
	
	
</mapper>