<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.roominfo.RoomMapper">
<!-- 전체 객실 조회 -->
	<select id="selectRoom" resultType="com.example.pettopia.vo.RoomInfo">
		SELECT
				room_no roomNo,
				room_name roomName,
				room_type roomType,
				room_capacity roomCapacity,
				room_desc roomDesc,
				price_per_night pricePerNight,
				create_datetime createDatetime,
				update_datetime updateDatetime
		FROM
				room_info
	</select>

</mapper>