<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.roominfo.RoomMapper">
<!-- 전체 객실 조회 -->
	<select id="selectRoom" resultType="com.example.pettopia.vo.RoomInfo">
		SELECT
				room_no roomNo,
				room_name roomName,
				room_type roomType,
				room_capacity roomCapacity,
				room_desc roomDesc,
				price_per_night pricePerNight,
				create_datetime createDatetime,
				update_datetime updateDatetime
		FROM
				room_info
		
	</select>
	
	<!-- 전체 객실 이미지 조회 -->
	<select id="selectRoomImg" resultType="com.example.pettopia.vo.RoomImg">
		SELECT
				room_img_no roomImgNo,
				room_no roomNo,
				origin_file_name originFileName,
				file_name fileName,
				file_ext fileExt,
				file_type fileType,
				create_datetime createDatetime,
				update_datetime updateDatetime
		FROM
				room_img
		
	</select>
	
	<!-- 특정 객실 조회 -->
	<select id="selectRoomOne" resultType="java.util.Map">
		SELECT
				room_no roomNo,
				room_name roomName,
				room_type roomType,
				room_capacity roomCapacity,
				room_desc roomDesc,
				price_per_night pricePerNight,
				create_datetime createDatetime,
				update_datetime updateDatetime
		FROM
				room_info
		WHERE
				room_no = #{roomNo}
	</select>
	
	<!-- 객실 타입 ENUM 값 가져오기 -->
	<!-- <select id="selectRoomTypeEnum" resultType="String">
	    SELECT 
	    		SUBSTRING(COLUMN_TYPE, 6, LENGTH(COLUMN_TYPE) - 6)
	    FROM 
	    		INFORMATION_SCHEMA.COLUMNS
	    WHERE 
	    		TABLE_NAME = 'room_info' AND COLUMN_NAME = 'room_type';
	</select> -->
	

</mapper>