<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.petservice.ServiceMapper">
<!-- 상태 업데이트 -->
<update id="updateRsvStatus" parameterType="map">
	UPDATE pet_service_rsv 
	SET rsv_status = #{rsvStatus}, rsv_no_show = #{rsvNoShow}
	WHERE rsv_no = #{rsvNo}
</update>

	<!-- 서비스 예약내역 조회 -->
	<select id="selectServiceRsvList" resultType="java.util.Map">
		SELECT
				pr.rsv_no rsvNo,
				c.customer_name customerName,
				pr.service_no serviceNo,
				pr.rsv_datetime rsvDatetime,
				pr.rsv_status rsvStatus,
				pr.rsv_no_show rsvNoShow,
				ps.service_name serviceName,
				ps.service_desc serviceDesc
		FROM 
				pet_service_rsv pr
		INNER JOIN
				pet_service ps
		ON
				pr.service_no = ps.service_no
		INNER JOIN
				customer c
		ON
				pr.customer_no = c.customer_no
		WHERE 1=1
		<if test="searchWord != null and searchWord != ''">
	        AND (ps.service_name LIKE CONCAT('%', #{searchWord}, '%')
	             OR ps.service_desc LIKE CONCAT('%', #{searchWord}, '%')
	             OR c.customer_name LIKE CONCAT('%', #{searchWord}, '%'))
	    </if>
	    
		LIMIT #{pageSize} OFFSET #{offset}
		
	</select>
	
	<!-- 총 서비스 예약 내역 갯수 조회 -->
    <select id="countServiceRsvList" resultType="int">
        SELECT COUNT(*) FROM pet_service_rsv WHERE 1=1
        <if test="searchWord != null and searchWord != ''">
	        AND (service_name LIKE CONCAT('%', #{searchWord}, '%')
	             OR service_desc LIKE CONCAT('%', #{searchWord}, '%'))
	    </if>
    </select>

	<!-- 서비스 삭제 -->
	<delete id="deleteByServiceNo">
	    DELETE FROM pet_service WHERE service_no = #{serviceNo}
	</delete>

	<!-- 서비스 등록 -->
    <insert id="insertService" parameterType="com.example.pettopia.vo.PetService">
        INSERT INTO pet_service (service_no, service_name, service_desc, service_price, create_datetime, update_datetime)
        VALUES (#{serviceNo}, #{serviceName}, #{serviceDesc}, #{servicePrice}, NOW(), NOW());
    </insert>
	<!-- 서비스 조회 -->
	<select id="selectService" resultType="com.example.pettopia.vo.PetService">
		SELECT
				service_no serviceNo,
				service_name serviceName,
				service_desc serviceDesc,
				service_price servicePrice
		FROM 
				pet_service
		WHERE 1=1
		<if test="searchWord != null and searchWord != ''">
	        AND (service_name LIKE CONCAT('%', #{searchWord}, '%')
	             OR service_desc LIKE CONCAT('%', #{searchWord}, '%'))
	    </if>
	    
		LIMIT #{pageSize} OFFSET #{offset}
		
	</select>
	
	<!-- 총 서비스 갯수 조회 -->
    <select id="countServiceList" resultType="int">
        SELECT COUNT(*) FROM pet_service WHERE 1=1
        <if test="searchWord != null and searchWord != ''">
	        AND (service_name LIKE CONCAT('%', #{searchWord}, '%')
	             OR service_desc LIKE CONCAT('%', #{searchWord}, '%'))
	    </if>
    </select>
</mapper>