<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.petservice.ServiceMapper">

	<!-- 서비스 수정 -->
	<update id="modifyService" parameterType="com.example.pettopia.vo.PetService">
	    UPDATE pet_service
	    SET 
	        service_name = #{serviceName},
	        service_desc = #{serviceDesc},
	        service_price = #{servicePrice},
	        service_option1 = #{serviceOption1},
	        service_option2 = #{serviceOption2},
	        update_datetime = NOW()
	    WHERE service_no = #{serviceNo}
	</update>
	<!-- 서비스 등록 -->
    <insert id="insertService" parameterType="com.example.pettopia.vo.PetService">
        INSERT INTO pet_service (service_no, service_name, service_desc, service_price, create_datetime, update_datetime)
        VALUES (#{serviceNo}, #{serviceName}, #{serviceDesc}, #{servicePrice}, NOW(), NOW());
    </insert>
	<!-- 서비스 조회 -->
	<select id="selectService" resultType="com.example.pettopia.vo.PetService">
		SELECT
				service_no serviceNo,
				service_name serviceName,
				service_desc serviceDesc
		FROM 
				pet_service
	</select>
</mapper>