<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.petservice.ServiceMapper">

	<!-- 서비스 삭제 -->
	<delete id="deleteByServiceNo">
	    DELETE FROM pet_service WHERE service_no = #{serviceNo}
	</delete>

	<!-- 서비스 등록 -->
    <insert id="insertService" parameterType="com.example.pettopia.vo.PetService">
        INSERT INTO pet_service (service_no, service_name, service_desc, service_price, create_datetime, update_datetime)
        VALUES (#{serviceNo}, #{serviceName}, #{serviceDesc}, #{servicePrice}, NOW(), NOW());
    </insert>
	<!-- 서비스 조회 -->
	<select id="selectService" resultType="com.example.pettopia.vo.PetService">
		SELECT
				service_no serviceNo,
				service_name serviceName,
				service_desc serviceDesc
		FROM 
				pet_service
		WHERE 1=1
		<if test="searchWord != null and searchWord != ''">
	        AND (service_name LIKE CONCAT('%', #{searchWord}, '%')
	             OR service_desc LIKE CONCAT('%', #{searchWord}, '%'))
	    </if>
	    
		LIMIT #{pageSize} OFFSET #{offset}
		
	</select>
	
	<!-- 총 서비스 갯수 조회 -->
    <select id="countServiceList" resultType="int">
        SELECT COUNT(*) FROM pet_service WHERE 1=1
        <if test="searchWord != null and searchWord != ''">
	        AND (service_name LIKE CONCAT('%', #{searchWord}, '%')
	             OR service_desc LIKE CONCAT('%', #{searchWord}, '%'))
	    </if>
    </select>
</mapper>