<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.customer.CustomerMapper">
	<!-- 고객 조회 -->
	<select id="selectCustomerList" resultType="com.example.pettopia.vo.Customer" parameterType="map">
	    SELECT 
	        customer_no AS customerNo,
	        customer_name AS customerName,
	        postal_code AS postalCode,
	        basic_address AS basicAddress,
	        detail_address AS detailAddress,
	        customer_phone AS customerPhone,
	        create_datetime AS createDatetime,
	        update_datetime AS updateDatetime
	    FROM customer
	    WHERE 1=1
	    <if test="searchWord != null and searchWord != ''">
	        AND (customer_name LIKE CONCAT('%', #{searchWord}, '%')
	             OR customer_phone LIKE CONCAT('%', #{searchWord}, '%'))
	    </if>
	    LIMIT #{pageSize} OFFSET #{offset}
	</select>
	
	<!-- 페이징 위해서 전체 고객 수 카운트 -->
	<select id="countCustomerList" resultType="int" parameterType="map">
	    SELECT COUNT(*) 
	    FROM customer
	    WHERE 1=1
	    <if test="searchWord != null and searchWord != ''">
	        AND (customer_name LIKE CONCAT('%', #{searchWord}, '%')
	             OR customer_phone LIKE CONCAT('%', #{searchWord}, '%'))
	    </if>
	</select>

</mapper>