<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pettopia.attendance.AttendanceMapper">

<!-- 오자윤 : /employee/attendance 페이지네이션 카운트-->
<select id="countAttendance" parameterType="map" resultType="int">
    SELECT COUNT(*)
    FROM attendance a
    JOIN employee e ON a.emp_no = e.emp_no
    WHERE (#{empNo} IS NULL OR a.emp_no = #{empNo})
      <if test="attendanceDate != null">
          AND a.attendance_date = #{attendanceDate}
      </if>
      <if test="deptCode != null">
          AND e.dept_code = #{deptCode}
      </if>
      <if test="divisionCode != null">
          AND d.division_code = #{divisionCode}
      </if>
      <if test="empName != null and empName != ''">
          AND e.emp_name LIKE CONCAT('%', #{empName}, '%') 
      </if>
</select>

<!-- 오자윤 : /employee/attendance 관리자 : 근태조회 리스트 -->
 <select id="selectAttendanceList" parameterType="map" resultType="map">
	     SELECT 
	        a.emp_no AS empNo,
	        e.emp_name AS empName,
	        a.attendance_date AS attendanceDate,
	        a.attendance_status AS attendanceStatus,
	        a.clock_in_time AS clockInTime,
	        a.clock_out_time AS clockOutTime,
	        a.create_datetime AS createDatetime,
	        a.update_datetime AS updateDatetime,
	        d.dept_name AS deptName, 
	        dv.division_name AS divisionName
	    FROM 
	        attendance a
	    JOIN 
	        employee e ON a.emp_no = e.emp_no
	    JOIN 
	        department d ON e.dept_code = d.dept_code
	    JOIN 
	        division dv ON d.division_code = dv.division_code
	    WHERE 
	        (#{empNo} IS NULL OR a.emp_no = #{empNo}) 
	        <if test="attendanceDate != null">
	            AND a.attendance_date = #{attendanceDate}
	        </if>
	        <if test="deptCode != null">
	            AND e.dept_code = #{deptCode}
	        </if>
	        <if test="divisionCode != null">
	            AND d.division_code = #{divisionCode}
	        </if>
	        <if test="empName != null and empName != ''">
	            AND e.emp_name LIKE CONCAT('%', #{empName}, '%') 
	        </if>
	    ORDER BY 
	        a.attendance_date DESC
	    LIMIT #{limit} OFFSET #{offset};
	</select>

<!-- 오자윤 : /employee/attendanceList 직원 상태 카운트 -->
<select id="countEmployeeStatus" resultType="Map">
	SELECT 
	    COUNT(e.emp_no) AS 'totalEmployees',  -- 전체 직원 수
	    COUNT(CASE WHEN a.attendance_status = 'P' THEN 1 END) AS 'P',  -- 출근 수
	    COUNT(CASE WHEN a.attendance_status = 'L' THEN 1 END) AS 'L',  -- 지각 수
	    COUNT(CASE WHEN d.vacation_type = 'AL' AND d.start_date &lt;= CURDATE() AND d.end_date &gt;= CURDATE() AND d.approval_status = 'A' THEN 1 END) AS 'V',  -- 연차 수
	    COUNT(CASE WHEN (d.vacation_type IN ('HLA', 'HLP') AND d.approval_status = 'A') THEN 1 END) AS 'H',  -- 반차 수
	    COUNT(e.emp_no) - 
	    COUNT(CASE WHEN a.attendance_status = 'P' THEN 1 END) - 
	    COUNT(CASE WHEN a.attendance_status = 'L' THEN 1 END) - 
	    COUNT(CASE WHEN d.vacation_type = 'AL' AND d.start_date &lt;= CURDATE() AND d.end_date &gt;= CURDATE() AND d.approval_status = 'A' THEN 1 END) - 
	    COUNT(CASE WHEN (d.vacation_type IN ('HLA', 'HLP') AND d.approval_status = 'A') THEN 1 END) AS 'A' -- 결근 수
	FROM 
	    employee e
	LEFT JOIN 
	    attendance a ON e.emp_no = a.emp_no AND a.attendance_date = CURDATE() 
	LEFT JOIN 
	    document d ON a.emp_no = d.doc_writer_no 
	WHERE 
	    e.emp_status = 'E';  -- 재직 중인 직원만 포함
</select>

<!-- 오자윤 : /employee/attendance 근태리스트 -->
<select id="getAttendanceList" resultType="com.example.pettopia.vo.Attendance">
    SELECT emp_no empNo, 
    		attendance_date attendanceDate,
    		attendance_status attendanceStatus,
    		clock_in_time clockInTime,
    		clock_out_time clockOutTime,
    		create_datetime createDatetime,
    		update_datetime updateDatetime
    FROM attendance 
    WHERE emp_no = #{empNo} AND attendance_date = #{attendanceDate}
</select>

<!-- 오자윤 : /employee/attendanceOn 근태 : 출근 -->
<insert id="insertAttendanceOn" parameterType="com.example.pettopia.vo.Attendance">
 	INSERT INTO attendance (
 				emp_no
 				,attendance_date
 				,clock_in_time
 				,attendance_status
 				) VALUES (
 						#{empNo}, #{attendanceDate}, #{clockInTime}, #{attendanceStatus}
 				)
</insert>

<!-- 오자윤 : /employee/attendanceOff 근태 : 퇴근-->
 <update id="insertAttendanceOff" parameterType="com.example.pettopia.vo.Attendance">
    UPDATE attendance
    SET 
    	clock_out_time = #{clockOutTime}
    	,attendance_status = #{attendanceStatus}
    WHERE emp_no = #{empNo}
</update>
 
<!-- 마이페이지 : 본인 출,퇴근 기록 조회 -->
<select id="selectMyAttendanceList" parameterType="map" resultType="com.example.pettopia.vo.Attendance">
	SELECT attendance_date AS attendanceDate
			, emp_no AS empNo
			, attendance_status AS attendanceStatus
			, clock_in_time AS clockInTime
			, clock_out_time AS clockOutTime	
	FROM attendance
	WHERE emp_no = #{empNo}
	<if test="attendanceStatus != 'null'">
		AND attendance_status = #{attendanceStatus}
	</if>
	ORDER BY attendanceDate DESC
</select>

 
 
 
</mapper>